:root {
  --light: #EEEEEE;
  --dark: #1B191C;
  --light-font: #F5F6F7;
  --gray: #CFD3D6;
  --dark-gray: #323033;
  --white: #FFFFFF;
  --black: #000000;
  --yellow: #F8D231;
  --dark-yellow: #C6A827;
  --dark-yellow-05: #c6a92782;
  --font-weight-light: 300;
  --font-size-12: 12px;
  --font-size-24: 24px;
  --font-size-36: 36px;
  --font-size-48: 48px;
  --line-height-16: 16px;
  --line-height-32: 32px;
  --line-height-110: 110%;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: var(--font-size-24);
  line-height: var(--line-height-32);
  font-family: 'Space Grotesk', sans-serif;
}

body {
  padding: 12px;
  margin: 0 auto;
  background-color: var(--dark);
  letter-spacing: -0.4px;

  @media (max-width: 820px) {
    padding: 0;
  }
}

h1,
h2 {
  display: inline-block;
  font-size: var(--font-size-48);
  line-height: 52px;
  letter-spacing: -1px;
}

input {
  border: 0;
}

input:focus{
  outline: none;
}

.container {
  max-width: 1441px;
  margin: 0 auto;
}

.button {
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.mobile {
  display: none;
}

@media (max-width: 820px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

/* main section */
.main__section {
  background-color: var(--light);
  padding: 40px;

  @media (max-width: 820px) {
    padding: 20px 12px;
  }
}

.main__wrapper {
  display: flex;

  @media (max-width: 820px) {
    flex-direction: column;
  }
}

.main__info {
  max-width: 492px;
}

.main__content {
  display: flex;
  flex-direction: column;
  margin-right: 112px;

  @media (max-width: 820px) {
    display: block;
    margin-right: 0;
  }
}

.main__title {
  margin-bottom: 24px;

  @media (max-width: 820px) {
    margin-bottom: 42px;
    font-size: var(--font-size-36);
    line-height: var(--line-height-110);
    letter-spacing: -0.4px;
  }
}

.main__subtitle {
  display: inline-block;
  margin-bottom: 167px;
  color: var(--dark);
  font-weight: var(--font-weight-light);

  @media (max-width: 820px) {
    margin-bottom: 8px;
  }
}

.main__conditions {
  color: var(--dark);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-16);
  letter-spacing: -0.3px;

  @media (max-width: 820px) {
    display: flex;
    flex-direction: column;
  }
}

.main__agreements {
  margin-bottom: 4px;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-16);
}

.main__terms {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-16);
}

/* form */

.form__wrapper {
  align-self: center;
  width: 100%;
  max-width: 620px;

  @media (max-width: 820px) {
    align-self: auto;
    margin-bottom: 38px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 20px;
}

.form__action {
  display: flex;
  position: relative;
}

.form__input {
  padding: 32px 16px;
  width: 100%;

  @media (max-width: 820px) {
    padding: 16px;
    font-weight: var(--font-weight-light);
  }
}

.button__form {
  padding: 0 28px;
  background-color: var(--yellow);

  @media (max-width: 820px) {
    padding: 12px;
  }
}

/* error */
.error-message {
  position: absolute;
  bottom: -24px;
  color: var(--dark-yellow);;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-16);
  letter-spacing: -0.3px;
}

.error-icon {
  position: absolute;
  top: 50%;
  right: 112px;
  transform: translateY(-50%);
}

.error-input, .error-input:focus {
  border: 1px solid var(--dark-yellow-05);
}

/* how section */
.how__section {
  padding: 120px 40px;
  color: var(--light-font);

  @media (max-width: 820px) {
    padding: 40px 12px 120px;
  }
}

.how__wrapper {
  display: flex;

  @media (max-width: 820px) {
   flex-direction: column;
  }
}

.how__info {
  width: 50%;
  margin-right: 80px;

  @media (max-width: 820px) {
    width: 100%;
    margin-right: 0;
  }
}

.how__title {
  display: block;
  margin-bottom: 40px;

  @media (max-width: 820px) {
    font-size: var(--font-size-36);
    line-height: var(--line-height-110);
  }
}

.how__content {
  display: inline-block;
  font-weight: var(--font-weight-light);
  letter-spacing: -0.4px;

  @media (max-width: 820px) {
    margin-bottom: 38px
  }
}

.scheme {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;

  @media (max-width: 820px) {
    width: 100%;
    margin-top: 0;
  }
}

.scheme__lines {
  position: absolute;
  right: 110px;
  width: 149px;
  height: 140px;
  background-color: var(--dark);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23919E9FFF' stroke-width='2' stroke-dasharray='12%2c 8' stroke-dashoffset='6' stroke-linecap='square'/%3e%3c/svg%3e");
  z-index: 2;

  @media (max-width: 1200px) {
    width: 80px;
  };

  @media (max-width: 820px) {
    width: 100px;
    height: 133px;
    right: 16px;
  }
}

.scheme__horisontal-line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(90deg, #919E9F, #919E9F 75%, transparent 75%, transparent 100%);
  background-size: 20px 1px;
  border: none;
  z-index: 1;
}

.block__yellow {
  width: 93px;
  height: 93px;
  background-color: var(--yellow);;
  z-index: 100;

  @media (max-width: 820px) {
    width: 50px;
    height: 50px;
  }
}

.blocks {
  background-color: var(--dark);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.block__gray {
  position: relative;
  width: 112px;
  height: 112px;
  background-color: var(--dark-gray);

  @media (max-width: 820px) {
    width: 60px;
    height: 60px;
  }
}

.block__gray--first {
  margin-bottom: 24px;

  @media (max-width: 820px) {
    margin-bottom: 70px;
  }
}

.block__gray img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media (max-width: 820px) {
    padding: 0 10px;
    width: 100%;
  }
}

/* tech section */
.tech__section {
  padding: 0 40px 120px;
  color: var(--light-font);

  @media (max-width: 1220px) {
    padding: 0 12px 40px;
  }
}

.tech__title {
  display: inline-block;
  margin-bottom: 40px;
  color: var(--light-font);
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs__label {
  margin-right: 16px;
  color: var(--gray);
  opacity: 0.4;
  cursor: pointer;
}

.tabs__label:nth-of-type(2) {
  margin-right: 0px;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  display: none;
  order: 1;
  width: 100%;
  margin-top: 48px;
}

.tabs__radio:checked + .tabs__label {
  padding-bottom: 3px;
  color: var(--light-font);
  opacity: 1;
  border-bottom: 1px solid var(--light);
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  margin-top: -16px;

  @media (max-width: 820px) {
    display: block;
    margin-top: 0;
  }
}

tbody {
  width: 100%;

  @media (max-width: 1200px) {
    display: table;
    white-space: normal;
  }
}

tr {
  display: table;
  width: 100%;
  padding: 10px 0;
  color: var(--light);
  border-bottom: 1px solid rgba(207, 211, 214, 0.10);

  @media (max-width: 820px) {
    display: flex;
    flex-direction: column;
  }
};

td {
  font-weight: var(--font-weight-light);
}

td:nth-of-type(1) {
  width: 250px;
  min-width: 250px;
  font-weight: var(--font-weight-light);

  @media (max-width: 820px) {
    margin-bottom: 10px;
  }
}

td:nth-of-type(2) {
  font-weight: var(--font-weight-light);
}

/* player */
audio {
  display: block;
}

.back-button {
  margin-bottom: 20px;
  background-color: var(--light);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
}

/* webkit */
input[type="range"]::-webkit-slider-runnable-track  {
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5px;
  width: 16px;
  height: 12px;
}

input[type="range"].player__playback::-webkit-slider-thumb {
  background: var(--white);
  border-radius: 6px;
}

input[type="range"].player__volume::-webkit-slider-thumb {
  background: var(--black);
}

/* firefox */
input[type="range"]::-moz-range-track {
  background: #ADACAD;
  height: 2px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5px;
  width: 16px;
  height: 12px;
  border: 0;
}

input[type="range"].player__playback::-moz-range-thumb {
  background: var(--white);
  border-radius: 6px;
}

input[type="range"].player__volume::-moz-range-thumb {
  background: var(--black);;
  border-radius: 0;
}

.player {
  position: relative;
  max-width: 620px;
  padding: 20px;
  background-color: var(--gray);
}

.player__button {
  background-color: var(--gray);
}

.player__playback {
  height: 2px;
  width: 100%;
  margin: 50px 0;
}

.player__volume {
  width: 100%;
  height: 2px;
  max-width: 252px;
}

.player__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player__duration {
  margin-right: 36px;
  color: var(--dark);
  font-size: var(--font-size-12);
  letter-spacing: -0.3px;
}

/* loading */
.loading {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.loading-bar {
  position: relative;
  height: 4px;
  background-color: var(--gray);
  overflow: hidden;
}

.loading-line {
  position: absolute;
  left: -100%;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: var(--white);
  animation: loading 1.2s ease-in-out infinite;
}

@keyframes loading {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}
