@import "../../global.scss";

.form__wrapper {
  align-self: center;
  width: 100%;
  max-width: 620px;

  @include for-desktop-sm {
    align-self: auto;
    margin-bottom: 38px;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 20px;
  }

  &__input {
    padding: 32px 16px;
    width: 100%;

    @include for-mobile {
      padding: 6px;
      font-weight: var(--font-weight-light);
    }
  }

  &__action {
    display: flex;
    position: relative;
  }

  &__submit {
    padding: 0 28px;
    background-color: var(--yellow);

    @include for-mobile {
      padding: 12px;
    }
  }
}

.error-message {
  position: absolute;
  bottom: -24px;
  color: var(--dark-yellow);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-16);
  letter-spacing: -0.3px;
}

.error-icon {
  position: absolute;
  top: 50%;
  right: 112px;
  transform: translateY(-50%);

  @include for-mobile {
    right: 80px;
  }
}

.error-input,
.error-input:focus {
  border: 1px solid var(--dark-yellow-05);
}
